# Exploración inicial de los datasets IMDB

Este notebook realiza la exploración inicial de los dos conjuntos de datos en bruto
utilizados en el proyecto:

- Metadata de películas
- Reviews de usuarios (50K)

El objetivo es entender la estructura de los datos, detectar problemas de calidad
y evaluar la viabilidad de su unión para el análisis posterior.

CARGA Y ESTRUCTURACIÓN DE DATASETS

In [2]:
import pandas as pd
import numpy as np

In [4]:
import os
os.getcwd()

'c:\\Users\\Raúl\\Desktop\\DATA ANALYTICS\\9 TFM\\PROYECTO\\imdb-data-analytics-project\\notebooks'

In [5]:
os.listdir("../data/raw")

['IMDB Dataset.csv', 'imdb_movies.csv']

In [6]:
imdb_dataset = pd.read_csv("../data/raw/IMDB Dataset.csv")
imdb_movies = pd.read_csv("../data/raw/imdb_movies.csv")

imdb_dataset.shape, imdb_movies.shape

((50000, 2), (10178, 12))

In [7]:
import pandas as pd
import numpy as np

In [8]:
imdb_dataset = pd.read_csv("../data/raw/IMDB Dataset.csv")
imdb_movies = pd.read_csv("../data/raw/imdb_movies.csv")

In [9]:
imdb_dataset.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [14]:
imdb_dataset.info() # Se revisa la estructura del dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

In [15]:
imdb_movies.info() # Se revisa la estructura de este dataset también.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10178 entries, 0 to 10177
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   names       10178 non-null  object
 1   date_x      10178 non-null  object
 2   score       10178 non-null  float64
 3   genre       10093 non-null  object
 4   overview    10178 non-null  object
 5   crew        10122 non-null  object
 6   orig_title  10178 non-null  object
 7   status      10178 non-null  object
 8   orig_lang   10178 non-null  object
 9   budget_x    10178 non-null  float64
 10  revenue     10178 non-null  float64
 11  country     10178 non-null  object
dtypes: float64(3), object(9)
memory usage: 954.3+ KB

In [16]:
imdb_dataset.columns # Ahora vamos con los nombres de las columnas para revisar la calidad de los datos.

Index(['review', 'sentiment'], dtype='object')

In [17]:
imdb_movies.columns # De la misma forma que en el anterior dataset.

Index(['names', 'date_x', 'score', 'genre', 'overview', 'crew', 'orig_title',
       'status', 'orig_lang', 'budget_x', 'revenue', 'country'],
      dtype='object')

In [19]:
# Quitamos los valores nulos.
imdb_dataset.isna().sum().sort_values(ascending=False)

review       0
sentiment    0
dtype: int64

In [20]:
imdb_movies.isna().sum().sort_values(ascending=False) # Misma operación que en anterior dataset.

genre         85
crew          56
date_x         0
names          0
score          0
overview       0
orig_title     0
status         0
orig_lang      0
budget_x       0
revenue        0
country        0
dtype: int64

In [24]:
imdb_dataset.describe(include="all") # datos estadísticos.
imdb_movies.describe(include="all") # Los usaré más adelante posiblemente.

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
count,10178,10178,10178.000000,10093,10178,10122,10178,10178,10178,1.017800e+04,1.017800e+04,10178
unique,9660,5688,NaN,2303,9905,9927,9736,3,54,NaN,NaN,60
top,Pinocchio,04/07/2023,NaN,Drama,We don't have an overview translated in Englis...,"Jim Parsons, Oh (voice), Rihanna, Gratuity 'Ti...",Pinocchio,Released,English,NaN,NaN,AU
freq,12,41,NaN,556,89,3,12,10131,7417,NaN,NaN,4885
mean,NaN,NaN,63.497052,NaN,NaN,NaN,NaN,NaN,NaN,6.488238e+07,2.531401e+08,NaN
std,NaN,NaN,13.537012,NaN,NaN,NaN,NaN,NaN,NaN,5.707565e+07,2.777880e+08,NaN
min,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,0.000000e+00,NaN
25%,NaN,NaN,59.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.500000e+07,2.858898e+07,NaN
50%,NaN,NaN,65.000000,NaN,NaN,NaN,NaN,NaN,NaN,5.000000e+07,1.529349e+08,NaN
75%,NaN,NaN,71.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.050000e+08,4.178021e+08,NaN
max,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,4.600000e+08,2.923706e+09,NaN

In [26]:
# calculo duplicados si los hubiera.
imdb_dataset.duplicated().sum()
imdb_movies.duplicated().sum()

np.int64(0)

In [28]:
# finalmente busco columnas que tengan relación, es decir, sean comunes entre sí.
set(imdb_dataset.columns) & set(imdb_movies.columns)
# No existen columnas comunes según la respuesta. Por tanto habrá que hacer más pasos antes de la union entre ambos datasets.

set()

LIMPIEZA Y PREPARAZIÓN DE DATOS

In [29]:
imdb_movies.columns

Index(['names', 'date_x', 'score', 'genre', 'overview', 'crew', 'orig_title',
       'status', 'orig_lang', 'budget_x', 'revenue', 'country'],
      dtype='object')

In [30]:
imdb_dataset.columns

Index(['review', 'sentiment'], dtype='object')

In [31]:
# efectivamente no hay columnas comunes por lo cual habrá que hacer un dataset final mediante métrical agregadas.
# empezando por dejar la columna de titulo limpia. 
imdb_movies['title_clean'] = (
    imdb_movies['names']
    .str.lower()
    .str.strip()
)

In [32]:
#también limpiamos la la fecha y el género.
imdb_movies['release_year'] = pd.to_datetime(imdb_movies['date_x'], errors='coerce').dt.year
imdb_movies['genre_list'] = imdb_movies['genre'].str.split(',')

In [33]:
# a su vez y para la unión, limpiamos la columna a utilizar en el otro dataset.
imdb_dataset['sentiment'] = imdb_dataset['sentiment'].str.lower()

In [37]:
# Ya se pueden generar datos agregados.
sentiment_summary = imdb_dataset['sentiment'].value_counts(normalize=True)
sentiment_summary

sentiment
positive    0.5
negative    0.5
Name: proportion, dtype: float64

In [41]:
import os

os.makedirs("../data/processed", exist_ok=True)

# se crea una carpeta nueva para los nuevos datasets procesados y limpios.

In [42]:
imdb_movies.to_csv("../data/processed/imdb_movies_clean.csv", index=False)
imdb_dataset.to_csv("../data/processed/imdb_reviews_clean.csv", index=False)

# Guardo los dos datasets en la carpeta recientemente creada.

CREACIÓN DE DATASET FINAL

In [1]:
import pandas as pd
import numpy as np

movies = pd.read_csv("../data/processed/imdb_movies_clean.csv")
reviews = pd.read_csv("../data/processed/imdb_reviews_clean.csv")

In [2]:
# Hacemos la prueba para verificar que se importó bien.
movies.shape, reviews.shape

((10178, 15), (50000, 2))

In [3]:
movies.columns

Index(['names', 'date_x', 'score', 'genre', 'overview', 'crew', 'orig_title',
       'status', 'orig_lang', 'budget_x', 'revenue', 'country', 'title_clean',
       'release_year', 'genre_list'],
      dtype='object')

In [4]:
reviews.columns

Index(['review', 'sentiment'], dtype='object')

In [9]:
# Se me reinicia el vscode, importo de nuevo librerias y datos.

import pandas as pd
import numpy as np

# Carga de datasets en bruto
imdb_dataset = pd.read_csv("../data/raw/IMDB Dataset.csv")
imdb_movies = pd.read_csv("../data/raw/imdb_movies.csv")

In [11]:
# Ahora vamos a empezar creando métricas agregadas según la columna sentiment el dataset de reviews.
# Primero hay que analizar el dataset de reviews.

imdb_reviews_clean = imdb_dataset.copy()

imdb_reviews_clean.drop_duplicates(inplace=True)
imdb_reviews_clean.dropna(inplace=True)

# así se puede ver la distribución de los sentimientos en las reviews.

In [12]:
imdb_reviews_clean["sentiment"].value_counts(normalize=True)
# % de reviews positivas y negativas:

sentiment
positive    0.501876
negative    0.498124
Name: proportion, dtype: float64

In [13]:
# Visto que la proporción es bastante pareja, transformamos el análisis en variables uilizables. Es decir, creamos la métricas agregadas.

total_reviews = len(imdb_reviews_clean)

positive_reviews = (imdb_reviews_clean["sentiment"] == "positive").sum()
negative_reviews = (imdb_reviews_clean["sentiment"] == "negative").sum()

positive_ratio = positive_reviews / total_reviews
negative_ratio = negative_reviews / total_reviews

total_reviews, positive_reviews, negative_reviews

(49582, np.int64(24884), np.int64(24698))

In [15]:
positive_ratio, negative_ratio
# ratio de psitivas y negativas.

(np.float64(0.5018756806905732), np.float64(0.4981243193094268))

In [ ]:
# Se reinicia vscode y se tiene que volver a importar librerías y limpiar datos.
import pandas as pd
import numpy as np

In [11]:
imdb_dataset = pd.read_csv("../data/raw/IMDB Dataset.csv")
imdb_movies = pd.read_csv("../data/raw/imdb_movies.csv")

In [12]:
imdb_movies_clean = imdb_movies.copy()

imdb_movies_clean.drop_duplicates(inplace=True)
imdb_movies_clean.dropna(inplace=True)

In [13]:
imdb_movies_clean.shape

(10052, 12)

In [14]:
total_reviews = len(imdb_reviews_clean)

positive_reviews = (imdb_reviews_clean["sentiment"] == "positive").sum()
negative_reviews = (imdb_reviews_clean["sentiment"] == "negative").sum()

positive_ratio = positive_reviews / total_reviews
negative_ratio = negative_reviews / total_reviews

In [ ]:
# Ahora que está de nuevo codeado, añadimos las métricas agregadas al dataset de movies.
imdb_movies_clean["global_positive_review_ratio"] = positive_ratio
imdb_movies_clean["global_negative_review_ratio"] = negative_ratio
imdb_movies_clean["total_reviews_analyzed"] = total_reviews

In [16]:
# Empezamos a crear el nuevo dataset final.
final_dataset = imdb_movies_clean.copy()

In [17]:
final_dataset.shape

(10052, 15)

In [18]:
final_dataset.head()

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country,global_positive_review_ratio,global_negative_review_ratio,total_reviews_analyzed
0,Creed III,03/02/2023,73.0,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,2.716167e+08,AU,0.501876,0.498124,49582
1,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU,0.501876,0.498124,49582
2,The Super Mario Bros. Movie,04/05/2023,76.0,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000.0,7.244590e+08,AU,0.501876,0.498124,49582
3,Mummies,01/05/2023,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...","Óscar Barberán, Thut (voice), Ana Esther Albor...",Momias,Released,"Spanish, Castilian",12300000.0,3.420000e+07,AU,0.501876,0.498124,49582
4,Supercell,03/17/2023,61.0,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000.0,3.409420e+08,US,0.501876,0.498124,49582

In [19]:
# Guardamos el dataset.
final_dataset.to_csv(
    "../data/processed/imdb_final_dataset.csv",
    index=False
)

EDA DATASET FINAL